{% extends 'layout.html' %}

{% block body %}

<h1>{{article[1]}}</h1>
<small>Written by {{article[2]}} on {{article[4]}}</small>
<hr>
<div>
  {{article[3] | safe}}
  
</div>
<br></br>

<hr>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fdilab77.ionio.gr%2Fp13alva%2Farticle%2F&layout=button&size=small&mobile_iframe=true&width=58&height=20&appId" width="58" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


<hr>
<h2>Comments</h2>

<br></br>
<div>
  {{article[7] | safe}}
  <small>{{article[6] | safe}}</small>
  <small>{{article[8] | safe}}</small>
</div>
<br></br>

{% for article in articles %}
    <small>{{article[8] | safe}}</small>
{% endfor %}


<hr>
<a class="btn btn-success" href="/p13alva/add_comments/{{article[0]}}"> Add Comments</a>
<a class="btn btn-success" href="/p13alva/comments"> Show Comments</a>

{% endblock %}
