{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/p13alva/add_article"> Add Articles</a>
  <hr>
  <h1>Articles</h1>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article[0]}}</td>
        <td>{{article[1]}}</td>
        <td>{{article[2]}}</td>
        <td>{{article[4]}}</td>
        {% if session['username'] == article[2] %}
        <td><a href="/p13alva/edit_article/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('hello.delete_article', id=article[0])}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
        {% endif %}
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
<h2>Comments</h2>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for comment in comments %}
      <tr>
        <td>{{comment[1]}}</td>
        <td>{{comment[2]}}</td>
        <td>{{comment[3]}}</td>
        {% if session['username'] == comment[1] %}
        <td><a href="edit_comment/{{comment.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('hello.delete_comment', id=comment[0])}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
        {% endif %}
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>



{% endblock %}
