{% extends 'layout.html' %}

{% block body %}

<h1>{{article[1]}}</h1>
<small>Written by {{article[2]}} on {{article[4]}}</small>
<hr>
<div>
  {{article[3] | safe}}
  
  

</div>
<br></br>
<hr>
<h2>Comments</h2>

{% for article in articles %}
  <br></br>
  {{article[7] | safe}}
  <small>{{article[6] | safe}}</small>
  <small>{{article[8] | safe}}</small>
  <br></br>
{% endfor %}

<a class="btn btn-success" href="/p13alva/add_comments/{{article[0]}}"> Add Comments</a>
<a class="btn btn-success" href="/p13alva/comments"> Show Comments</a>

{% endblock %}
